body {
    background: url("/static/img/frontpage.jpg");
    background-size: cover;

    color: white;
    text-align: center;
  }

.site-wrapper {
    margin-top: 150px;
    display: table;
    width: 400px;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
}

.site-wrapper-inner {
    display: table-cell;
    background-color: black;
    vertical-align: bottom;
    opacity: 50%;
    padding: 10px;
}