body {
    background: url("/static/img/frontpage-3.jpg");
    background-size: cover;

    color: white;
    text-align: center;
}

.site-wrapper {
    margin-top: 75px;
    display: table;
    width: 400px;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
}

.site-wrapper-inner {
    display: table-cell;
    background-color: #9d5d43;
    vertical-align: bottom;
    padding: 10px;
}