body {
    background: url("/static/img/background.jpg");
    background-size: cover;
}

p {
    color: black;
}

#nav-bar {
    background-color: black;
}

.nav-link{
    color: white;
}

#planner-background {
    margin-top: 10px;
    pointer-events: none;
    background-color: grey;
    position: absolute;
    width: 100%;
    height: inherit;
    z-index: -100;
}

#button-addon2 {
    color: white;
    background-color: darkslategray;
}

.form-check {
    width: fit-content;
}

body {
    text-align: center;
  }

.form{
    background-color: lightgray;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    margin-top: 40px;
}

#item-search {
    height: 750px;
    margin: 0px auto;
    overflow: auto;
}

#add_recipe{
    margin-top: 10px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

h7{
    border-bottom: 1px solid black;
}

#search, #button-addon2 {
    margin-top: 10px
}

#account_info {
    margin-top: 35px;
}