body {
    background: url("/static/img/background.jpg");
    background-size: cover;
}

p {
    color: black;
}

#nav-bar {
    background-color: black;
}

.nav-link{
    color: white;
}

#meal-planner-grid, #item-search{
    background-color: grey;
    border: 1px solid black;
}

#food-item {
    color: white;
}

#button-addon2 {
    color: white;
    background-color: darkslategray;
}

#current-week, .title {
    color: white;
}

.form-check {
    width: fit-content;
}

body {
    text-align: center;
  }

.form{
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    margin-top: 40px;
}

#item-search, #meal-planner-grid {
    height: 750px;
    margin: 0px auto;
    overflow: auto;;
}

#add_recipe{
    margin-top: 10px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

h7{
    border-bottom: 1px solid black;
}

#search, #button-addon2 {
    margin-top: 10px
}

#account_info {
    margin-top: 35px;
    background-color: grey;
    border: 1px solid black;
    width: fit-content;
}

#user-information {
    margin: 10px;
    color: white;
}

#update-acct-btn {
    margin-bottom: 10px;
}

#meal-item {
    border-bottom: 1px solid black;
}

#recipe_plate {
    background-color: grey;
    margin: 10px;
    border: 1px solid black;
}

#recipe_title {
    color: black;
}

#recipe_info_container {
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: grey;
    border: 1px solid black;
    height: auto;
    max-height: 500px;
    width: 750px;
    overflow: auto;
}

#add_recipe_btn {
    border: 1px solid black;
}

#servings_add_btn {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

#directions, #ingredients, #single_ingr, #cal_per_serv {
    width: fit-content;
}

#sign-up-container {
    background-color: grey;
    border: 1px solid black;
    margin-top: 50px;
    margin-bottom: 50px;
}