#nav-bar {
    background-color: black;
}

.nav-link{
    color: white;
}

.container-fluid {
    margin-top: 2%;
}

.form-check {
    width: fit-content;
}

body {
    text-align: center;
  }

.form{
    background-color: lightgray;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    margin-top: 40px;
}

.col-sm-3{
    border: solid;
}

.col-sm-2{
    border: solid;
}

#item-search {
    height: 750px;
    margin: 0px auto;
    overflow: auto;
}

#add_recipe{
    margin-top: 10px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

h7{
    border-bottom: 1px solid black;
}
