{% extends 'base.html' %}
{% block title %}Homepage{% endblock title %}
{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3" id="item-search">
        <form method="POST">
            <div class="input-group mb-3">
                <input type="text" class="form-control" id="search" name="search" placeholder="add meal">
                <input class="btn btn-outline-secondary" type="submit" id="button-addon2" value="Search" name="form-submit">
            </div>
        </form>
        {% if result %}
        {% for key, value in result.items() %}
        <div class="col">
            <p>{{key}}  {{value}}kcal</p>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">+</button>
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <form method="POST">
                            <div class="modal-body">
                                {% for day in assigned_day %}
                                <div class="form-check">
                                    <label for="day" class="form-check-label">{{day}}</label>
                                    <input type="radio" class="form-check-input" id="flexRadioDefault1" name="day" value="{{day}}" {% if "Monday" == day %}checked{% endif %}>  
                                </div>
                                {% endfor %}
                                <br>
                                {% for meal in meal_types %}
                                <div class="form-check">
                                    <label for="meal" class="form-check-label">{{meal}}</label>
                                    <input type="radio" class="form-check-input" id="flexRadioDefault1" name="meal" value="{{meal}}" {% if "Breakfast" == meal %}checked{% endif %}>  
                                </div>
                                {% endfor %}
                                <br>
                                <div class="input-group mb-3">
                                    <input type="number" class="form-control" id="weight" placeholder="Weight" name="weight">
                                    <span class="input-group-text">grams</span>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <input type="submit" name="form-submit2" value ="Add to Planner" class="btn btn-primary">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        {% endif %}
        </div>
        <div class="col">
            <div class="col">
            <h2>{{day_of_week}}</h2>
            <h2>{{start}} - {{end}}</h2>
            </div>
            <div class="row align-items-start">
                {% for day in assigned_day %}
                <div class="row">
                    <h3>{{day}}</h3>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock body %}