{% extends 'base.html' %}
{% block title %}Homepage{% endblock title %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <h2>{{day_of_week}}</h2>
            <h2>{{today}}</h2>
        </div>
        <div class="col">
            <div class="col">
                <h1>Weekly planner</h1>
            </div>
            <div class="row align-items-start">
                <div class="col">
                    <h5>monday</h5>
                </div>
                <div class="col">
                    <h5>tuesday</h5>
                </div>
                <div class="col">
                    <h5>wednesday</h5>
                </div>
                <div class="col">
                    <h5>thursday</h5>
                </div>
                <div class="col">
                    <h5>friday</h5>
                </div>
                <div class="col">
                    <h5>saturday</h5>
                </div>
                <div class="col">
                    <h5>sunday</h5>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}