{% extends 'base.html' %}
{% block title %}Homepage{% endblock title %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <h1>This is the homepage</h1>
        </div>
        <div class="col">
            <div class="col">
                <h1>This is the weekly planner</h1>
            </div>
            <div class="col">
                <h1>These are the weekdays</h1>
                <div class="col">
                    <div class="col">
                        <h1>monday</h1>
                    </div>
                    <div class="col">
                        <h1>tuesday</h1>
                    </div>
                    <div class="col">
                        <h1>wednesday</h1>
                    </div>
                    <div class="col">
                        <h1>thursday</h1>
                    </div>
                    <div class="col">
                        <h1>friday</h1>
                    </div>
                    <div class="col">
                        <h1>saturday</h1>
                    </div>
                    <div class="col">
                        <h1>sunday</h1>
                    </div>        
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}